# See https://help.github.com/ignore-files/ for more about ignoring files.

./idea
.idea
db.sqlite3
venv

# dependencies
/node_modules

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

db.sqlite3
static/media/
reactive/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Sphinx documentation
docs/_build/

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/

# Rope project settings
.ropeproject

# mkdocs documentation
/site

