@import url("css/normalize.css");
@import url("css/article.css");
@import url("css/profile-page.css");


.header, .footer {
    background-color: grey;
    border: 1px solid silver;
}

:first-letter {
    text-transform: uppercase;
}

nav {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    font-family: Arial, 'sans-serif';
}

nav a {
    margin: 0 10px;
    padding: 5px;
}

nav a:hover {
    text-decoration: none;
    color: black;
}

nav :last-child {
    color: black;
}

.pagination li {
    margin: 0 2px;
    padding: 5px 10px;
    border: 0.5px solid #8c8383;
    background-color: #c2d4f5;
    color: #0c3d67;
}

.pagination {
    margin-top: 5px;
}

.pagination li:hover {
    cursor: pointer;
    opacity: 0.8;
}